/* It is a CSS pseudo class used to selects the root element of the document: <html> in the case of HTML */
/* Can be useful for declaring global CSS variables */
:root {
    --bg-color: darksalmon;
    --text-color: wheat;
}

[data-theme="dark"] {
    --bg-color: black;
    --text-color: #a2b5ea;
}

html, body {
    height: 100%;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem 0 0;
}

.theme-toggle-switch {
    position: relative;
    width: 70px;
    height: 40px;
}

/* Hiding the checkbox */
.theme-toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    transition: 0.4s;
    border-radius: 34px;
}

/* The CSS ::before pseudo-element inserts some content before the content of the specified element */
/* The inserted content is still inside the specified element. The inserted content is added before the other content inside. */
/* https://www.w3schools.com/cssref/sel_before.php */
.slider::before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

#theme-label {
    font-weight: 500;
    padding: 0 0 0 1rem;
}

main {
    height: 85%;
    color: var(--text-color);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0 0;
}


footer {
    background-color: var(--text-color);
    height: 1rem;
}
